.task {
    transition: all 0.3s;
    padding: 2rem 2.5rem;
    // border-left: 4px solid var(--task-color-primary);
    background: var(--task-color-background);
    border-radius: 40px;
    margin: 1rem 0;
    color: #000;

    &:before { 
        content: ''; 
        display: block; 
        position: relative; 
        width: 0; 
        height: 5em; 
        margin-top: -5em
    }

    label {
        cursor: pointer;
        display: block;
        display: flex;

        span {
            padding-left: 0.6rem;
            flex-grow: 1;
        }
    }

    input {
        transition: all 0.3s;
        cursor: pointer;
        accent-color: #fff;
        min-width: 20px;
        width: 20px; 
        height: 20px;
    }
}

.title {
    transition: all 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 0.5rem;
}

.taskContent {
    display: flex;
}

.complete span {
    text-decoration: line-through;
}

.complete {
    background: #5EF19D;
    // border-left: 4px solid var(--task-color-complete);

    .title {
        // color: var(--task-color-complete);
    }

    input {
        accent-color: #fff;
    }
}