.quiz {
    padding: 1rem 1.5rem;
    // border-left: 4px solid var(--quiz-color-primary);
    background: var(--quiz-color-background);
    border-radius: 40px;
    margin: 1rem 0;
    color: #000;
}

.question {
    padding-bottom: 1rem;
    font-size: larger;
    // color: var(--quiz-color-primary);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 26px;
}

// .questionMark {
//     border-radius: 2rem;
//     padding: 4px 15px;
//     margin-right: 1rem;
//     border: 2px solid var(--quiz-color-primary);
// }

.answers {
    padding-left: 0px;

    label {
        cursor: pointer;
        display: block;
        padding-bottom: 0.6rem;
        display: flex;
        align-items: center;

        span {
            padding-left: 0.6rem;
        }
    }

    input {
        cursor: pointer;
        accent-color: var(--polkadot-pink);
        width: 20px; 
        height: 20px;
    }
}

.interaction {
    margin: 0.8rem 0;
    // button {
    //     cursor: pointer;
    //     margin: 0 3px;
    //     font-size: medium;
    //     padding: 0.6rem 1.1rem;
    //     border-color: var(--ifm-color-content);
    //     border-radius: 8px;
    //     background: none;
    //     color: var(--ifm-color-content);
    //     transition: all 0.2s;

    //     &:hover {
    //         background: #0002;
    //     }
    // }    
}

.feedback {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    // border-left: 4px solid;
    // border-radius: 2px;

    span {
        font-weight: 700;
    }

    &.isWrong {
        // background: var(--quiz-color-wrong);
        // border-color: var(--quiz-color-wrong);
        color: #FF0000;
    }

    &.isCorrect {
        // background: var(--quiz-color-correct);
        // border-color: var(--quiz-color-correct);
        color: #04C100;
    }

    // .feedbackIcon {
    //     margin-left: 0.5rem;
    //     margin-right: 1.5rem;
    //     border-radius: 20px;
    //     border: 2px solid var(--ifm-color-content);;
    //     padding: 2px 14px;
    //     font-size: large;
    // }
}

