/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoWrap {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    max-width: 80vw;
  }

  &::after {
    background: var(--primary-glow);
    width: 30%;
    height: 40%;

    content: '';
    left: 30%;
    top: 40%;
    position: absolute;
    filter: blur(95px);
    transform: translateZ(0);
    // z-index: -10;
  }
}

.logoTitle {
  position: absolute;
  text-align: center;
  max-width: 80vw;

  h1 {
    font-size: 10vw;
    font-family: 'Unbounded', cursive;
    text-align: center;
    color: #000;
    transition: 0.5s ease-in-out;
    span {
      display: block;
    }
  }

  > p {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    mix-blend-mode: normal;
    max-width: 100% !important;
  }

  a {
    color: #000;
    z-index: 100;
  }
}

[data-theme='dark'] {
  .logoTitle {
    // z-index: 100;
    color: #fff;

    h1 {
      color: #fff;
      mix-blend-mode: difference;
    }

    a {
      color: #fff;
    }
  }

  .logoTitle a {
    // color: #fff;
  }
}

.polkadotLogo {
  animation: 40s rotate linear infinite reverse;
  transition: transform 3s;
  position: absolute;
}

// @media screen and (min-width: 996px) {
//   .logoTitle h1 {
//     font-size: 90px;
//   }
// }

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.mainHome {
  & > section {
    min-height: 80vh;
    padding: 0 var(--ps-page-margin);

    p {
      max-width: 40rem;
    }
  }

  h2 {
    font-family: 'Unbounded', cursive;
    letter-spacing: 3px;
    font-size: 36px;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  h3 {
    font-size: 30px;
  }
}

.sectionIntro {

}

.sectionTutorials {

}

.sectionAbout {
  display: flex;

  .aboutLeft {
    width: 60%;
  }

  .aboutRight {
    width: 40%;
  }

}

.sectionStudyPaths {

}

.sectionParticipate {

}
