.tag {
    padding: 1px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    color: #000;

    a, a:hover {
        text-decoration: none;
    }
}

.tag-contribute {
    
}

.tag-substrate {

}

[data-theme='dark'] {
    .tag {
        color: #eee;
        border-color: var(--polkadot-cyan);

        &:hover {
            background: var(--polkadot-cyan);
        }
    }
}