:root {
    --polkadot-pink: #e6007a;
    --polkadot-purple: #552BBF;
    --polkadot-cyan: #00B2FF;
    --polkadot-lime: #D3FF33;
    --polkadot-green: #56F39A;

    --ifm-background-color: #fcfff1;
    --ifm-navbar-background-color: #fcfff1;

    --ifm-color-primary: #e6007a;
    --ifm-color-primary-dark: #cf006e;
    --ifm-color-primary-darker: #c40068;
    --ifm-color-primary-darkest: #a10055;
    --ifm-color-primary-light: #fd0086;
    --ifm-color-primary-lighter: #ff0a8c;
    --ifm-color-primary-lightest: #ff2c9c;

    --ifm-navbar-height: 4.75rem;

    --ifm-code-font-size: 95%;

    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --docusaurus-collapse-button-bg: transparent;

    --pd-border-style: 1px dashed #000;
  
    --quiz-color-primary: #552BBF;
    --quiz-color-background: #9992;
    --quiz-color-wrong: rgba(255, 57, 57, 0.3);
    --quiz-color-correct: rgba(43, 206, 78, 0.3);

    --task-color-primary: var(--quiz-color-primary);
    --task-color-background: var(--quiz-color-background);
    --task-color-complete: rgba(43, 206, 78, 0.9);
  
    --primary-glow: conic-gradient(
      from 180deg at 50% 50%,
      #ff00dd33 0deg,
      #e6007a99 55deg,
      #ff00c333 120deg,
      #f700ffb2 160deg,
      transparent 360deg
    );
  }

  /* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark']:root {
    --ifm-background-color: #1b1b1b;
    --ifm-navbar-background-color: #1b1b1b;

    --ifm-color-primary: #e6007a;
    --ifm-color-primary-dark: #cf006e;
    --ifm-color-primary-darker: #c40068;
    --ifm-color-primary-darkest: #a10055;
    --ifm-color-primary-light: #fd0086;
    --ifm-color-primary-lighter: #ff0a8c;
    --ifm-color-primary-lightest: #ff2c9c;
  
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --docusaurus-collapse-button-bg: transparent;

    --pd-border-style: 0.5px dashed #999;
  
    --quiz-color-primary: #00B2FF;
  }


/* Cyan
#00B2FF
rgba(0,178,255,1)
hsla(198,100,50,1)
Purple
#552BBF
rgba(85,43,191,1)
hsla(257,63,46,1)
Pink
#E6007A
rgba(230,0,122,1)
hsla(328,100,45,1)
Lime
#D3FF33
rgba(211,255,51,1)
hsla(73,100,60,1)
Green
#56F39A
rgba(86,243,154,1)
hsla(146,87,65,1) */