$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

:root {
    --polkadot-pink: #e6007a;
    --polkadot-purple: #552BBF;
    --polkadot-cyan: #00B2FF;
    --polkadot-lime: #D3FF33;
    --polkadot-green: #56F39A;

    --doc-sidebar-hidden-width: 48px !important;

    --ifm-h1-font-size: 3rem;

    --ifm-background-color: #fcfff1;
    --ifm-navbar-background-color: #fcfff1;

    --ifm-font-color-base: #000;

    --ifm-color-primary: #e6007a;
    --ifm-color-primary-dark: #cf006e;
    --ifm-color-primary-darker: #c40068;
    --ifm-color-primary-darkest: #a10055;
    --ifm-color-primary-light: #fd0086;
    --ifm-color-primary-lighter: #ff0a8c;
    --ifm-color-primary-lightest: #ff2c9c;

    --ifm-menu-color-active: var(--polkadot-purple);
    --ifm-link-color: var(--polkadot-purple);
    --ifm-navbar-link-hover-color: var(--polkadot-purple);
    --ifm-breadcrumb-color-active: var(--polkadot-purple);


    --ifm-navbar-height: 4.75rem;
    // --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
    --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' stroke='%23000'%3E%3Cpath d='M14.0086 3L14.0086 26' fill='none' data-nofill='true'%3E%3C/path%3E%3Cpath d='M4 12.1997L14.0086 2L24 12.1997' fill='none' data-nofill='true'%3E%3C/path%3E%3C/svg%3E");

    --ifm-code-font-size: 95%;

    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --docusaurus-collapse-button-bg: transparent;

    --pd-border-style: 1px dashed #000;
    --ps-beginner-tag-color: var(--polkadot-green);
    --ps-intermediate-tag-color: #ffd24d;
    --ps-expert-tag-color: #ff4141;
    
    --ps-page-margin: 1.2rem;
  
    --quiz-color-primary: var(--polkadot-pink);
    --quiz-color-background: #9992;
    --quiz-color-wrong: rgb(255, 0, 0);
    --quiz-color-correct: rgb(24 197 72);

    --task-color-primary: var(--quiz-color-primary);
    --task-color-background: var(--quiz-color-background);
    --task-color-complete: rgba(43, 206, 78, 0.9);
  
    --primary-glow: conic-gradient(
      from 180deg at 50% 50%,
      #ff00dd33 0deg,
      #e6007a99 55deg,
      #ff00c333 120deg,
      #f700ffb2 160deg,
      transparent 360deg
    );
  }

  @media screen and (min-width: #{map-get($grid-breakpoints, md)}) {
    :root {
      --ps-page-margin: 3rem;
    }
  }

  @media screen and (min-width: #{map-get($grid-breakpoints, lg)}) {
    :root {
      --ps-page-margin: 7rem;
    }
  }

  /* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark']:root {
    --ifm-background-color: #1b1b1b;
    --ifm-navbar-background-color: #1b1b1b;

    --ifm-font-color-base: #ddd;

    --ifm-color-primary: #e6007a;
    --ifm-color-primary-dark: #cf006e;
    --ifm-color-primary-darker: #c40068;
    --ifm-color-primary-darkest: #a10055;
    --ifm-color-primary-light: #fd0086;
    --ifm-color-primary-lighter: #ff0a8c;
    --ifm-color-primary-lightest: #ff2c9c;

    --ifm-menu-color-active: var(--polkadot-cyan);
    --ifm-link-color: var(--polkadot-cyan);
    --ifm-navbar-link-hover-color: var(--polkadot-cyan);
    --ifm-breadcrumb-color-active: var(--polkadot-cyan);
  
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --docusaurus-collapse-button-bg: transparent;

    --pd-border-style: 1px dashed #999;
  
    --quiz-color-primary: var(--polkadot-pink);
  }


/* Cyan
#00B2FF
rgba(0,178,255,1)
hsla(198,100,50,1)
Purple
#552BBF
rgba(85,43,191,1)
hsla(257,63,46,1)
Pink
#E6007A
rgba(230,0,122,1)
hsla(328,100,45,1)
Lime
#D3FF33
rgba(211,255,51,1)
hsla(73,100,60,1)
Green
#56F39A
rgba(86,243,154,1)
hsla(146,87,65,1) */