.tags {
  display: inline;
}

.tag {
  margin-right: 1rem;
  display: inline-block;
}

.tagLink {
  display: flex;
  align-items: center;
  color: #fff;

  &:hover {
    text-decoration: none;
  }

  svg {
    margin-right: 6px;
  }
}

.tagText {
  display: flex;
  align-items: center;
  font-size: 32px;
  svg {
    margin-right: 10px;
  }
}