

    // display: none;

    .grill {
        position: fixed;
        bottom: 0.5rem;
        right: 0.9rem;
        height: 70vh;
        max-height: 600px;
        min-height: 400px;
        width: calc(100vw - 1.8rem);
        min-width: 320px;
        z-index: 8000;
        box-shadow: 0 0 10px #0005;

        &.collapsed {
            display: none;
        }
    }

    .grillButton {
        cursor: pointer;
        position: fixed;
        bottom: 1.2rem;
        right: 1.5rem;
        width: 55px;
        height: 55px;
        z-index: 9000;        
    }

    .grillIcon {
        max-height: 55px;
    }

    @media screen and (min-width: 568px) {
        .grill {
            width: 40%;
        }
    }

    @media screen and (min-width: 768px) {
        .grill {
            width: 30%;
        }
    }
