.byLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    flex-wrap: wrap;

    > * {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }

    padding: 2rem 4rem;

    a {
        color: var(--ifm-color-content);
    }
}

.footerTop {
    display: flex;
    background: #ccc3;
    // border-top-left-radius: 40px;
    // border-top-right-radius: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    padding: 2rem 4rem;

    a {
        padding-right: 1rem;
        color: var(--ifm-color-content);
        width: 100%;
        display: block;
    }
}

.footerLogos {
    svg {
        transform: scale(0.5);
        fill: currentColor;
    }
}

//min width 768px
@media (min-width: 768px) {

    .footerTop {
        text-align: left;
        a {
            width: auto;
            display: inline-block;
        }
    }
}