.tutorial-card {
    width: auto !important;
}

.tutorialGrid {
    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
    margin-left: -10px;
    width: calc(100% + 20px);
}

.tutorialGridBig {
    grid-template-columns: repeat(1, 1fr);
}

.itemWrap {
    z-index: 1;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .tutorialGrid {
        grid-template-columns: repeat(2, 50%);
    }

    .tutorialGridBig {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (min-width: 997px) {
    .tutorialGridBig {
        grid-template-columns: repeat(3, 33.333%);
    }
}