.tutorialCard {
    padding: 23px 31px;
    border-radius: 30px;
    cursor: pointer;
    overflow: visible;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    position: relative;

    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;

    .title {
        font-size: 26px;
        line-height: 28px;
        letter-spacing: -0.1px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0.5%;
        left: 0.5%;
        width: 99%;
        height: 99%;
        background-color: var(--polkadot-cyan);
        z-index: -1;
        transition: all 0.3s;
        border-radius: 30px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0.5%;
        left: 0.5%;
        width: 99%;
        height: 99%;
        background-color: var(--polkadot-pink);
        z-index: -1;
        transition: all 0.3s;
        border-radius: 30px;
    }

    p {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    img {
        max-height: 150px;
    }

    &:hover::after {
        transform: translate3d(-10px, 10px, 0);
    }

    &:hover::before {
        transform: translate3d(10px, -10px, 0);
    }
}

.imgLink {
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #eee;
    border-radius: 2px;
    background: var(--ifm-background-color);
}

.description {
    margin-bottom: 1rem;
    flex: 1;
}

.tags {
    padding: 6px 0;
}

.level {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted var(--ifm-font-color-base);
    padding: 6px 0;
}

.duration {
    display: flex;
    align-items: center;
    border-top: 1px dotted var(--ifm-font-color-base);
    padding: 6px 0;
    svg {
        height: 22px;
    }
}

.meta {
    svg {
        margin-right: 0.4rem;
    }
}

[data-theme='dark'] {
    .tutorialCard {
        background: var(--polkadot-purple);
        color: #fff;
        border: none;
    }
}