.tutorialSliderWrap {
    position: relative;

    .arrowNext,
    .arrowPrev {
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 100;
        top: 50%;
    }

    .arrowNext {
        right: 0;
        transform: translate3d(40px, -50%, 0);
    }

    .arrowPrev {
        left: 0;
        transform: translate3d(-40px, -50%, 0);
    }

    .tutorialSwiper {
        padding: 10px;
        margin: -10px;
        border-right: 1px dashed transparent;
        border-left: 1px dashed transparent;
        transition: border-color 0.6s ease;
    }    

    .isBeginning {
        border-right: 1px dashed;
    }

    .isEnd {
        border-left: 1px dashed;
    }
}